body {
    font-family: 'Arial', sans-serif;
    background-color: black;
    color: white;
}
header, nav {
    background-color: #398839; /* Dark green */
    padding: 10px 0;
    text-align: center;
}
nav ul {
    list-style: none;
    padding: 0;
}
nav ul li {
    display: inline;
    margin-right: 20px;
}
main {
    margin: 20px;
    text-align: center;
}
main p a {
    color: #00FF00; /* Bright green */
}

